@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Phonebook.Models.HandbookRecord> handbookRecords = ViewBag.getall;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC_3</title>
</head>
<body>
    <div>
        <h3>@ViewBag.getScope</h3>
        <h3>Телефонный справочник</h3>
        <p><a href="~/Dict/Add">Добавить запись</a></p>
        <table border="1">
            <tr>
                <td><p>ID</p></td>
                <td><p>Фамилия</p></td>
                <td><p>Номер</p></td>
                <td><p>Действия</p></td>
            </tr>
            @foreach (var record in handbookRecords)
            {
                @RenderRecord(record) @* Используем внутренний хелпер *@
            }
        </table>
    </div>

    @helper RenderRecord(Phonebook.Models.HandbookRecord record)
    {
        <tr>
            <td><p>@record.Id</p></td>
            <td><p>@record.LastName</p></td>
            <td><p>@record.Phone</p></td>
            <td>
                <p><a href="~/Dict/Update/?id=@record.Id">Изменить</a></p>
                <p><a href="~/Dict/Delete/?id=@record.Id">Удалить</a></p>
            </td>
        </tr>
    }
</body>
</html>
